*{
    margin: 0px;
    font-family: "inter";
}
#MenuSuperior{
    background-color: #303030;
    color: #FFFFFF;
    height: 475px;
}
#titulo{
    margin-left: 40px;
    font-size: 60px;
    padding-top: 225px;
}
#SubTitulo{
    font-size: 20px;
    margin-left: 40px;
}
#MenuInformacional{
    background-color: #F9F9F9;
}


#menuinferiortitulo{
    font-size: 40px;
    margin-left: 60px;
}

#menuinferiortexto{
    font-size: 24px;
    margin-left: 60px;  
}

#menuinferior{
    display: grid;
    grid-auto-flow: column;
    margin-top: 80px;
}

#secaoformulario{
    background-color: #303030;
    height: 638px;
    margin-top: 75px;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    padding-top: 70px;
}

#formulario{
    padding: 30px;
}

input{
    height: 72px;
    width: 508px;
    border: none;
    border-radius: 7px;
    margin-bottom: 30px;
    padding-left: 20px;
}

#botao{
    font-family: raleway;
    border: none;
    border-radius: 7px;
    background-color: #C07212;
    color: #FFFFFF;
    width: 286px;
    height: 74px;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 35px;
}
button:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
    color: white;
    background-color: #7a4607;
    box-shadow: 0px 15px 20px #573103ba;
}
::placeholder{
    font-size: 24px;
}
.formularios{
    font-size: 24px;
}


